.git
.github
.gitignore

backups
terraform
video
_db_backups
_legacy
_docker_logs
LMS-main
images

minikube-linux-amd64
eksctl_Linux_amd64.tar.gz

*.log
*.tar
*.gz
*.zip
*.sql

*.bak
*.bak*
*.BAK
*.BAK*
*.codex.bak
*.codex.bak*

.vscode
.idea
.DS_Store
